body{
    color: #40514E;
}
h1{
    margin-top: 50px auto 0 auto;
    text-align: center;
    font-family: 'Style Script', cursive;
    font-size: 80px;
    font-style: italic;
    color: #FF597B;
    line-height: 10px;
}
body{
    margin: 0;
    text-align: center;
    background-color: #F9B5D0;
}
h2{
    font-family: cursive;
    color: #FF597B;
}
h3{
    font-family: cursive;
}
p{
    font-family: cursive;
}
.skill-row{
    width: 50%;
    margin: 200px auto 100px auto;
    background-color: #F9B5D0;
}

.dev-img{
    width: 25%;
    float: left;
}
.chilli-img{
    width: 25%;
    float: right;
    margin-left: 15%;
}

.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #F9B5D0;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 400px;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 400px;
}
.bottom-container{
    padding: 50px 0 20px;
    background-color: #F9B5D0;
}
a{
    color:#FF597B;
    margin:10px 20px;
    text-decoration-line: none;
}
a:hover{
    color:#EEEEEE;
}
.copyright{
    color:#FF597B;
}

.btn{
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#ffffff;
    border-color:rgba(255, 142, 158, 1);
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px rgba(255, 142, 158, 1);
    text-shadow:inset 0px 1px 0px #9b14b3;
    background:linear-gradient(rgba(255, 142, 158, 1), rgba(218, 99, 116, 1));
  }
  
  .buttonClass:hover {
    background: linear-gradient(rgba(218, 99, 116, 1), rgba(255, 142, 158, 1));
  }
                